<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Job Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
         .form-container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
          }
    </style>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">DataWage Wizard</a>

            <div class="justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_jobs') }}">Add Job</a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_jobs') }}">View Jobs</a>
                        </li> -->
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('filtering_jobs') }}">View Jobs</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_jobs') }}">Update/Delete</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="/goto-app2">Insights</a>
                      </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="card form-container ">
            <div class="card-body">
                <form action="/update_form/{{existing_data['job_info_id']}}" method="post">
                    <div class="mb-3">
                        <label for="work_year" class="form-label">Work Year:</label>
                        <input type="text" id="work_year" name="work_year" class="form-control" value="{{ existing_data['work_year'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="job_title" class="form-label">Job Title:</label>
                        <input type="text" id="job_title" name="job_title" class="form-control" value="{{ existing_data['job_title'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="employment_type" class="form-label">Employment Type:</label>
                        <input type="text" id="employment_type" name="employment_type" class="form-control" value="{{ existing_data['employment_type'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="experience_level" class="form-label">Experience Level:</label>
                        <input type="text" id="experience_level" name="experience_level" class="form-control" value="{{ existing_data['experience_level'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="employee_residence" class="form-label">Employee Residence:</label>
                        <input type="text" id="employee_residence" name="employee_residence" class="form-control" value="{{ existing_data['employee_residence'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="remote_ratio" class="form-label">Remote Ratio:</label>
                        <input type="text" id="remote_ratio" name="remote_ratio" class="form-control" value="{{ existing_data['remote_ratio'] }}" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Update Job Information</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
